<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:targetApi="34" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Waterlanders"
        tools:targetApi="31">
        <activity
            android:name=".activity.newPass"
            android:exported="false" />
        <activity
            android:name=".activity.success"
            android:exported="false" />
        <activity
            android:name=".activity.OTP"
            android:exported="false" />
        <activity
            android:name=".activity.registration"
            android:exported="false" />
        <activity
            android:name=".activity.signUp2"
            android:exported="false" />
        <activity
            android:name=".activity.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".activity.PhonePass"
            android:exported="true" />
        <activity
            android:name=".activity.EmailPass"
            android:exported="true" />
        <activity
            android:name="AdminHomePageDirectory.Products.DeleteItem"
            android:exported="false" />
        <activity
            android:name="AdminHomePageDirectory.Products.EditItem"
            android:exported="false" />
        <activity
            android:name="AdminHomePageDirectory.SuccessScreen"
            android:exported="false" />
        <activity
            android:name="AdminHomePageDirectory.Products.AddNewItem"
            android:exported="false" />
        <activity
            android:name="AdminHomePageDirectory.SalesReport.DashboardSalesReport"
            android:exported="false" />
        <activity
            android:name="UserHomePageDirectory.GcashConfirmation"
            android:exported="false" />
        <activity
            android:name="UserHomePageDirectory.AddressList.AddressInput"
            android:exported="false" />
        <activity
            android:name="UserHomePageDirectory.AddressList.AddressSelection"
            android:exported="false" />
        <activity
            android:name="LoginDirectory.LoginWithFacebook"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="DeliveryHomePageDirectory.deliveredOrders.DetailsDeliveredOrders"
            android:exported="false" />
        <activity
            android:name="DeliveryHomePageDirectory.onDelivery.DetailsOnDeliveryOrders"
            android:exported="false" />
        <activity
            android:name="DeliveryHomePageDirectory.PendingOrders.DetailsPendingOrders"
            android:exported="false" />
        <activity
            android:name="UserHomePageDirectory.OrderReceipt"
            android:exported="false" />
        <activity
            android:name="UserHomePageDirectory.MainDashboardUser"
            android:exported="false" />
        <activity
            android:name="UserHomePageDirectory.OrderConfirmation"
            android:exported="false" />
        <activity
            android:name="DeliveryHomePageDirectory.DeliveryHomePage"
            android:exported="false" />
        <activity
            android:name="AdminHomePageDirectory.AdminHomePage"
            android:exported="false" />
        <activity
            android:name=".activity.activity_reset_password"
            android:exported="false" />
        <activity
            android:name=".activity.Signup"
            android:exported="false" />
        <activity
            android:name=".activity.UpdatePassSuccess"
            android:exported="false" />
        <activity
            android:name=".activity.update_password"
            android:exported="false" />
        <activity
            android:name=".activity.ValidateOTP"
            android:exported="false" />
        <activity
            android:name="LoginDirectory.Login"
            android:exported="true" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>