<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:targetApi="34" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Waterlanders"
        tools:targetApi="31">
        <activity
            android:name="AdminHomePageDirectory.Orders.Utils.CancelOrders.CancelOrdersCurrentOrderDetails"
            android:exported="false" />
        <activity
            android:name="AdminHomePageDirectory.Orders.Utils.PaidOrders.PaidOrdersCurrentOrdersDetails"
            android:exported="false" />
        <activity
            android:name="AdminHomePageDirectory.Accounts.PendingAccountsListDetails"
            android:exported="false" />
        <activity
            android:name="AdminHomePageDirectory.Accounts.AccountStatusList"
            android:exported="false" />
        <activity
            android:name="AdminHomePageDirectory.Accounts.PendingAccountsList"
            android:exported="false" />
        <activity
            android:name="UserHomePageDirectory.OrderTrackingUtils.PendingOrders.UserEditPendingOrders"
            android:exported="false" />
        <activity
            android:name="UserHomePageDirectory.FragmentsDirectory.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="UserHomePageDirectory.FragmentsDirectory.user_help"
            android:exported="false" />

        <service
            android:name=".NotificationService"
            android:foregroundServiceType="dataSync"
            android:permission="android.permission.FOREGROUND_SERVICE" />

        <activity
            android:name="UserHomePageDirectory.OrderTrackingUtils.Completed.UserCompletedOrdersEditReview"
            android:exported="false" />
        <activity
            android:name=".PassswordResetConfirm"
            android:exported="false" />
        <activity
            android:name="ForgotPasswordDirectory.ForgotPasswordSuccess"
            android:exported="false" />
        <activity
            android:name="LoginDirectory.LoginWithProviderAdditionalInfo"
            android:exported="false" />
        <activity
            android:name="UserHomePageDirectory.OrderTrackingUtils.Completed.UserCompletedOrdersCurrentOrderDetails"
            android:exported="false" />
        <activity
            android:name="UserHomePageDirectory.OrderTrackingUtils.ConfirmOrders.UserConfirmOrdersCurrentOrderDetails"
            android:exported="false" />
        <activity
            android:name="UserHomePageDirectory.OrderTrackingUtils.DeliveryOrders.UserDeliveryOrdersCurrentOrderDetails"
            android:exported="false" />
        <activity
            android:name="UserHomePageDirectory.OrderTrackingUtils.PendingOrders.UserPendingOrdersCurrentOrderDetails"
            android:exported="false" />
        <activity
            android:name="DeliveryHomePageDirectory.DeliveryOrders.Utils.DeliveredOrders.DeliveryDeliveredOrdersCurrentOrdersDetails"
            android:exported="false" />
        <activity
            android:name="DeliveryHomePageDirectory.DeliveryOrders.Utils.OnDeliveryOrders.DeliveryProofOfDelivery"
            android:exported="false" />
        <activity
            android:name="DeliveryHomePageDirectory.DeliveryOrders.Utils.OnDeliveryOrders.DeliveryOnDeliveryOrdersCurrentOrderDetails"
            android:exported="false" />
        <activity
            android:name="DeliveryHomePageDirectory.DeliveryOrders.Utils.DeliverySuccessScreen"
            android:exported="false" />
        <activity
            android:name="DeliveryHomePageDirectory.DeliveryOrders.Utils.WaitingOrders.DeliveryWaitingOrdersCurrentOrderDetails"
            android:exported="false" />
        <activity
            android:name="ForgotPasswordDirectory.ForgotPasswordPhoneNewPassword"
            android:exported="false" />
        <activity
            android:name="SignUpDirectory.UserSignUpSuccess"
            android:exported="false" />
        <activity
            android:name="ForgotPasswordDirectory.ForgotPasswordPhoneOTP"
            android:exported="false" />
        <activity
            android:name="SignUpDirectory.UserSignUpAdditionalInfo"
            android:exported="false" />
        <activity
            android:name="SignUpDirectory.UserSignUp"
            android:exported="false" />
        <activity
            android:name="ForgotPasswordDirectory.ForgotPasswordHome"
            android:exported="false" />
        <activity
            android:name="ForgotPasswordDirectory.ForgotPasswordPhone"
            android:exported="true" />
        <activity
            android:name="ForgotPasswordDirectory.ForgotPasswordEmail"
            android:exported="true" />
        <activity
            android:name="AdminHomePageDirectory.Orders.Utils.DeliveredOrders.DeliveredOrdersProofOfDelivery"
            android:exported="false" />
        <activity
            android:name="AdminHomePageDirectory.Orders.Utils.DeliveredOrders.DeliveredOrdersCurrentOrdersDetails"
            android:exported="false" />
        <activity
            android:name="AdminHomePageDirectory.Orders.Utils.OnDeliveryOrders.OnDeliveryOrdersCurrentOrdersDetails"
            android:exported="false" />
        <activity
            android:name="AdminHomePageDirectory.Orders.Utils.WaitingOrders.WaitingOrdersCurrentOrderDetails"
            android:exported="false" />
        <activity
            android:name="AdminHomePageDirectory.Orders.Utils.GCashPaymentDetails"
            android:exported="false" />
        <activity
            android:name="AdminHomePageDirectory.Orders.Utils.PendingOrders.PendingOrdersCurrentOrderDetails"
            android:exported="false" />
        <activity
            android:name="AdminHomePageDirectory.Products.DeleteItem"
            android:exported="false" />
        <activity
            android:name="AdminHomePageDirectory.Products.EditItem"
            android:exported="false" />
        <activity
            android:name="AdminHomePageDirectory.SuccessScreen"
            android:exported="false" />
        <activity
            android:name="AdminHomePageDirectory.Products.AddNewItem"
            android:exported="false" />
        <activity
            android:name="UserHomePageDirectory.Settings.ChangePassword"
            android:exported="false" />
        <activity
            android:name="UserHomePageDirectory.Settings.EditProfile"
            android:exported="false" />
        <activity
            android:name="AdminHomePageDirectory.SalesReport.DashboardSalesReport"
            android:exported="false" />
        <activity
            android:name="UserHomePageDirectory.HomeFragmentUtils.GcashConfirmation"
            android:exported="false" />
        <activity
            android:name="UserHomePageDirectory.HomeFragmentUtils.AddressList.AddressInput"
            android:exported="false" />
        <activity
            android:name="UserHomePageDirectory.HomeFragmentUtils.AddressList.AddressSelection"
            android:exported="false" />
        <activity
            android:name="LoginDirectory.LoginWithFacebook"
            android:exported="false" />

        <meta-data
            android:name="com.google.firebase.analytics.application_id"
            android:value="@string/google_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="UserHomePageDirectory.HomeFragmentUtils.OrderReceipt"
            android:exported="false" />
        <activity
            android:name="UserHomePageDirectory.MainDashboardUser"
            android:exported="false" />
        <activity
            android:name="UserHomePageDirectory.HomeFragmentUtils.OrderConfirmation"
            android:exported="false" />
        <activity
            android:name="DeliveryHomePageDirectory.DeliveryHomePage"
            android:exported="false" />
        <activity
            android:name="AdminHomePageDirectory.AdminHomePage"
            android:exported="false" />
        <activity
            android:name="LoginDirectory.Login"
            android:exported="true" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>